/************************************************************************/
/********** MIN FONT SIZES **********************************************/
/************************************************************************/
.font_min body {
  font-size: 10px;
}
.font_min #top-reference {
  font-size: 25px;
}
.font_min a.button-secondary-link {
  font-size: 10px;
}
.font_min strong {
  font-size: 10px;
}
.font_min small {
  font-size: 8px;
}
.font_min .small {
  font-size: 8px;
}
.font_min .very-small {
  font-size: 7px;
}
.font_min .big {
  font-size: 12px;
}
.font_min .very-big {
  font-size: 13px;
}
.font_min h1 {
  font-size: 29px;
}
.font_min h2 {
  font-size: 23px;
}
.font_min h3 {
  font-size: 17px;
}
.font_min h4 {
  font-size: 14px;
}
.font_min h5 {
  font-size: 12px;
}
.font_min h6 {
  font-size: 10px;
}
.font_min h1.section-title {
  font-size: 13px;
}
.font_min h1.section-title-bullet {
  font-size: 13px;
}
.font_min .section-title h1 {
  font-size: 14px;
}
.font_min .section-title-bullet h1 {
  font-size: 14px;
}
.font_min .code {
  font-size: 10px;
}
.font_min h1 a.label {
  font-size: 10px;
}
.font_min h2 a.label {
  font-size: 10px;
}
.font_min h3 span.label {
  font-size: 10px;
}
.font_min h4 span.label {
  font-size: 7px;
}
.font_min #globalErrorDialog .title {
  font-size: 21px;
}
.font_min #error-content .title {
  font-size: 21px;
}
.font_min #page-title-wrapper h1 {
  font-size: 23px;
}
.font_min #page-title-wrapper .middle-content a {
  font-size: 9px;
}
.font_min .box > .header h2 {
  font-size: 14px;
}
.font_min #footer .version {
  font-size: 10px;
}
.font_min .box > .header ul li a {
  font-size: 12px;
}
.font_min .box > .header ul li .button-notification {
  font-size: 10px;
}
.font_min .title-box > .header h6 {
  font-size: 10px;
}
.font_min ul.grid-view li h3 {
  font-size: 15px;
}
.font_min .inner-box {
  font-size: 10px;
}
.font_min .inner-box h1 {
  font-size: 13px;
}
.font_min .inner-box h2 {
  font-size: 10px;
}
.font_min .separator-title h1 {
  font-size: 21px;
}
.font_min table {
  font-size: 9px;
}
.font_min table caption {
  font-size: 7px;
}
.font_min .table-caption-left {
  font-size: 7px;
}
.font_min .table-caption-right {
  font-size: 7px;
}
.font_min table.costs-summary {
  font-size: 9px;
}
.font_min td a.main-link {
  font-size: 10px;
}
.font_min .field .field-view {
  font-size: 11px;
}
.font_min .field .field-view.big {
  font-size: 15px;
}
.font_min .field h6 {
  font-size: 10px;
}
.font_min .field .hint {
  font-size: 7px;
}
.font_min h5.sub-title-right {
  font-size: 7px;
}
.font_min .notification p {
  font-size: 10px;
}
.font_min .notification h1 {
  font-size: 12px;
}
.font_min .notification h2 {
  font-size: 10px;
}
.font_min .button {
  font-size: 10px;
}
.font_min .insertEventMenu .action-menu {
  font-size: 7px;
}
.font_min .ac_results li {
  font-size: 10px;
}
.font_min .summary-title-wrap h1 {
  font-size: 15px;
}
.font_min .summary-title-wrap h2 {
  font-size: 12px;
}
.font_min .toggle-trigger-header-line h1 {
  font-size: 13px;
}
.font_min .toggle-trigger-header-line h2 {
  font-size: 11px;
}
.font_min .toggle-trigger-header-line h3 {
  font-size: 10px;
}
.font_min #globalErrorDialog > .title {
  font-size: 14px;
}
.font_min .help-dialog h1 {
  font-size: 13px;
}
.font_min .help-dialog p {
  font-size: 10px;
}
.font_min ul#dashboard-buttons li a {
  font-size: 10px;
}
.font_min .box > .header ul li .multiple-button-notification {
  font-size: 10px;
}
.font_min .title-box > .header {
  font-size: 12px;
}
.font_min .field .field-value.big {
  font-size: 12px !important;
}
.font_min .ui-widget,
.font_min .ui-widget input,
.font_min .ui-widget select,
.font_min .ui-widget textarea {
  font-size: 9px;
}
.font_min .ui-widget button {
  font-size: 9px;
}
.font_min .ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button {
  font-size: 10px;
}
.font_min .ui-dialog-title {
  font-size: 12px;
}
.font_min .ui-widget textarea {
  font-size: 10px;
}
.font_min .ui-widget button {
  font-size: 10px;
}
.font_min .notice-item p {
  font-size: 10px;
}
.font_min ul#dashboard-buttons li a div.item-counter {
  font-size: 27px;
}
.font_min ul#dashboard-buttons li.red a div.item-counter {
  font-size: 27px;
}
.font_min ul.list-counter-small.light li .counter {
  font-size: 13px;
}
.font_min ul.list-counter-small li.selected .counter.round {
  font-size: 12px;
}
.font_min ul.list-counter-small li.empty .counter {
  font-size: 10px;
}
.font_min ul.list-counter-small.light li.child .counter {
  font-size: 9px;
}
.font_min ul.list-counter-big li a {
  font-size: 21px;
}
.font_min ul.list-counter-big li span {
  font-size: 10px;
}
.font_min div.horiz-list-items .parent-item > .title {
  font-size: 15px;
}
.font_min div.horiz-list-items .item a > div.title-block.single {
  font-size: 13px;
}
.font_min .date-box > .day {
  font-size: 15px;
}
.font_min .counter-box > .counter {
  font-size: 21px;
}
.font_min .date-box > .month {
  font-size: 12px;
}
.font_min ul.news li > .version {
  font-size: 10px;
}
.font_min ul.news li > .version span {
  font-size: 10px;
}
.font_min ul.news.small li a {
  font-size: 10px;
}
.font_min .counter-box-big > .counter {
  font-size: 23px;
}
.font_min .counter-box-big > .title {
  font-size: 10px;
}
.font_min .post {
  font-size: 10px;
}
.font_min .post h5 {
  font-size: 13px;
}
.font_min .post b {
  font-size: 12px;
}
.font_min ul.blog-post-comments li.comment > .author {
  font-size: 11px;
}
.font_min .wizard li a span.title {
  font-size: 12px;
}
.font_min .wizard li a {
  font-size: 10px;
}
.font_min .mail-content .section-subtitle {
  font-size: 12px;
}
.font_min .mail-header .mail-title {
  font-size: 13px;
}
.font_min .mail-content em {
  font-size: 12px;
}
.font_min .mail-content td {
  font-size: 9px;
}
.font_min .mail-content .section-title {
  font-size: 13px;
}
.font_min #msgbox_dialog h4 {
  font-size: 12px;
}
.font_min h3.popover-title {
  font-size: 11px;
}
.font_min .field span.max-length-count {
  font-size: 7px;
}
.font_min input {
  font-size: 11px !important;
}
.font_min select {
  font-size: 11px !important;
}
.font_min option {
  font-size: 8px !important;
}
.firefox .font_min option {
  font-size: 10px !important;
}
.font_min optgroup {
  font-size: 9px !important;
}
.firefox .font_min optgroup {
  font-size: 11px !important;
}
.font_min textarea {
  font-size: 11px !important;
}

