/************************************************************************/
/********** MAX FONT SIZES **********************************************/
/************************************************************************/
.font_max body {
  font-size: 14px;
}
.font_max #top-reference {
  font-size: 29px;
}
.font_max a.button-secondary-link {
  font-size: 14px;
}
.font_max strong {
  font-size: 14px;
}
.font_max small {
  font-size: 12px;
}
.font_max .small {
  font-size: 12px;
}
.font_max .very-small {
  font-size: 11px;
}
.font_max .big {
  font-size: 16px;
}
.font_max .very-big {
  font-size: 17px;
}
.font_max h1 {
  font-size: 33px;
}
.font_max h2 {
  font-size: 27px;
}
.font_max h3 {
  font-size: 21px;
}
.font_max h4 {
  font-size: 18px;
}
.font_max h5 {
  font-size: 16px;
}
.font_max h6 {
  font-size: 14px;
}
.font_max h1.section-title {
  font-size: 17px;
}
.font_max h1.section-title-bullet {
  font-size: 17px;
}
.font_max .section-title h1 {
  font-size: 18px;
}
.font_max .section-title-bullet h1 {
  font-size: 18px;
}
.font_max .code {
  font-size: 14px;
}
.font_max h1 a.label {
  font-size: 14px;
}
.font_max h2 a.label {
  font-size: 14px;
}
.font_max h3 span.label {
  font-size: 14px;
}
.font_max h4 span.label {
  font-size: 11px;
}
.font_max #globalErrorDialog .title {
  font-size: 25px;
}
.font_max #error-content .title {
  font-size: 25px;
}
.font_max #page-title-wrapper h1 {
  font-size: 27px;
}
.font_max #page-title-wrapper .middle-content a {
  font-size: 13px;
}
.font_max .box > .header h2 {
  font-size: 18px;
}
.font_max #footer .version {
  font-size: 14px;
}
.font_max .box > .header ul li a {
  font-size: 16px;
}
.font_max .box > .header ul li .button-notification {
  font-size: 14px;
}
.font_max .title-box > .header h6 {
  font-size: 14px;
}
.font_max ul.grid-view li h3 {
  font-size: 19px;
}
.font_max .inner-box {
  font-size: 14px;
}
.font_max .inner-box h1 {
  font-size: 17px;
}
.font_max .inner-box h2 {
  font-size: 14px;
}
.font_max .separator-title h1 {
  font-size: 25px;
}
.font_max table {
  font-size: 13px;
}
.font_max table caption {
  font-size: 11px;
}
.font_max .table-caption-left {
  font-size: 11px;
}
.font_max .table-caption-right {
  font-size: 11px;
}
.font_max table.costs-summary {
  font-size: 13px;
}
.font_max td a.main-link {
  font-size: 14px;
}
.font_max .field .field-view {
  font-size: 15px;
}
.font_max .field .field-view.big {
  font-size: 19px;
}
.font_max .field h6 {
  font-size: 14px;
}
.font_max .field .hint {
  font-size: 11px;
}
.font_max h5.sub-title-right {
  font-size: 11px;
}
.font_max .notification p {
  font-size: 14px;
}
.font_max .notification h1 {
  font-size: 16px;
}
.font_max .notification h2 {
  font-size: 14px;
}
.font_max .button {
  font-size: 14px;
}
.font_max .insertEventMenu .action-menu {
  font-size: 11px;
}
.font_max .ac_results li {
  font-size: 14px;
}
.font_max .summary-title-wrap h1 {
  font-size: 19px;
}
.font_max .summary-title-wrap h2 {
  font-size: 16px;
}
.font_max .toggle-trigger-header-line h1 {
  font-size: 17px;
}
.font_max .toggle-trigger-header-line h2 {
  font-size: 15px;
}
.font_max .toggle-trigger-header-line h3 {
  font-size: 14px;
}
.font_max #globalErrorDialog > .title {
  font-size: 18px;
}
.font_max .help-dialog h1 {
  font-size: 17px;
}
.font_max .help-dialog p {
  font-size: 14px;
}
.font_max ul#dashboard-buttons li a {
  font-size: 14px;
}
.font_max .box > .header ul li .multiple-button-notification {
  font-size: 14px;
}
.font_max .title-box > .header {
  font-size: 16px;
}
.font_max .field .field-value.big {
  font-size: 16px !important;
}
.font_max .ui-widget,
.font_max .ui-widget input,
.font_max .ui-widget select,
.font_max .ui-widget textarea {
  font-size: 13px;
}
.font_max .ui-widget button {
  font-size: 13px;
}
.font_max .ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button {
  font-size: 14px;
}
.font_max .ui-dialog-title {
  font-size: 16px;
}
.font_max .ui-widget textarea {
  font-size: 14px;
}
.font_max .ui-widget button {
  font-size: 14px;
}
.font_max .notice-item p {
  font-size: 14px;
}
.font_max ul#dashboard-buttons li a div.item-counter {
  font-size: 31px;
}
.font_max ul#dashboard-buttons li.red a div.item-counter {
  font-size: 31px;
}
.font_max ul.list-counter-small.light li .counter {
  font-size: 17px;
}
.font_max ul.list-counter-small li.selected .counter.round {
  font-size: 16px;
}
.font_max ul.list-counter-small li.empty .counter {
  font-size: 14px;
}
.font_max ul.list-counter-small.light li.child .counter {
  font-size: 13px;
}
.font_max ul.list-counter-big li a {
  font-size: 25px;
}
.font_max ul.list-counter-big li span {
  font-size: 14px;
}
.font_max div.horiz-list-items .parent-item > .title {
  font-size: 19px;
}
.font_max div.horiz-list-items .item a > div.title-block.single {
  font-size: 17px;
}
.font_max .date-box > .day {
  font-size: 19px;
}
.font_max .counter-box > .counter {
  font-size: 25px;
}
.font_max .date-box > .month {
  font-size: 16px;
}
.font_max ul.news li > .version {
  font-size: 14px;
}
.font_max ul.news li > .version span {
  font-size: 14px;
}
.font_max ul.news.small li a {
  font-size: 14px;
}
.font_max .counter-box-big > .counter {
  font-size: 27px;
}
.font_max .counter-box-big > .title {
  font-size: 14px;
}
.font_max .post {
  font-size: 14px;
}
.font_max .post h5 {
  font-size: 17px;
}
.font_max .post b {
  font-size: 16px;
}
.font_max ul.blog-post-comments li.comment > .author {
  font-size: 15px;
}
.font_max .wizard li a span.title {
  font-size: 16px;
}
.font_max .wizard li a {
  font-size: 14px;
}
.font_max .mail-content .section-subtitle {
  font-size: 16px;
}
.font_max .mail-header .mail-title {
  font-size: 17px;
}
.font_max .mail-content em {
  font-size: 16px;
}
.font_max .mail-content td {
  font-size: 13px;
}
.font_max .mail-content .section-title {
  font-size: 17px;
}
.font_max #msgbox_dialog h4 {
  font-size: 16px;
}
.font_max h3.popover-title {
  font-size: 15px;
}
.font_max .field span.max-length-count {
  font-size: 11px;
}
.font_max input {
  font-size: 15px !important;
}
.font_max select {
  font-size: 15px !important;
}
.font_max option {
  font-size: 12px !important;
}
.firefox .font_max option {
  font-size: 14px !important;
}
.font_max optgroup {
  font-size: 13px !important;
}
.firefox .font_max optgroup {
  font-size: 15px !important;
}
.font_max textarea {
  font-size: 15px !important;
}

