<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">


    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/resourceNotFound.do</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>/home.do</welcome-file>
    </welcome-file-list>
 


    <filter>
        <filter-name>disable-http11-cache</filter-name>
		<filter-class>eu.europa.ec.etrustex.admin.old.web.filter.ResponseHeaderFilter</filter-class>
        <init-param>
            <param-name>Cache-Control</param-name>
            <param-value>private,no-cache,no-store</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>disable-http11-cache</filter-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>http11-js-css-cache</filter-name>
		<filter-class>eu.europa.ec.etrustex.admin.old.web.filter.ResponseHeaderFilter</filter-class>
        <init-param>
            <param-name>Cache-Control</param-name>
            <param-value>public,max-age=31536000</param-value>
        </init-param>
        <init-param>
            <param-name>Last-modified</param-name>
            <param-value>@build.date@</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>http11-js-css-cache</filter-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>http11-cache</filter-name>
		<filter-class>eu.europa.ec.etrustex.admin.old.web.filter.ResponseHeaderFilter</filter-class>
        <init-param>
            <param-name>Cache-Control</param-name>
            <param-value>public,max-age=604800</param-value>
        </init-param>
        <init-param>
            <param-name>Last-modified</param-name>
            <param-value>@build.date@</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>http11-cache</filter-name>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.ico</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.htc</url-pattern>
        <url-pattern>*.eot</url-pattern>
        <url-pattern>*.svg</url-pattern>
        <url-pattern>*.ttf</url-pattern>
        <url-pattern>*.woff</url-pattern>
    </filter-mapping>
 
    <filter>
        <filter-name>HTML5</filter-name>
		<filter-class>eu.europa.ec.etrustex.admin.old.web.filter.ResponseHeaderFilter</filter-class>
        <init-param>
            <param-name>X-UA-Compatible</param-name>
            <param-value>IE=edge,chrome=1</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>HTML5</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>FRAME</filter-name>
		<filter-class>eu.europa.ec.etrustex.admin.old.web.filter.ResponseHeaderFilter</filter-class>
        <init-param>
            <param-name>X-Frame-Options</param-name>
            <param-value>SAMEORIGIN</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FRAME</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jspf</url-pattern>
            <url-pattern>*.jsp</url-pattern>
        </jsp-property-group>
    </jsp-config>

    <mime-mapping>
        <extension>htc</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>mp4</extension>
        <mime-type>video/mp4</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>m4v</extension>
        <mime-type>video/mp4</mime-type>
    </mime-mapping>


    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>
            en
        </param-value>
    </context-param>

	<!-- For open source version -->
	<login-config>
	    <auth-method>BASIC</auth-method>
	    <realm-name>cipadminRealm</realm-name>
	    <!-- <form-login-config>
			<form-login-page>/LoginForm.html</form-login-page>
		    <form-error-page>/loginError.do</form-error-page>
		</form-login-config> -->
	</login-config>
			<!-- <form-login-page>/login.do</form-login-page> -->
	<security-role>
		<role-name>*</role-name>
	</security-role>
	
	<security-constraint>
	    <web-resource-collection>
	    	<web-resource-name>Excluded patterns</web-resource-name>
	    	<!-- <url-pattern>/login/*</url-pattern> -->
	        <url-pattern>/resources/*</url-pattern>
	        <url-pattern>/scripts/*</url-pattern>
	        <url-pattern>/pagescripts/*</url-pattern>
	        <url-pattern>/styles/*</url-pattern>
	        <url-pattern>/images/*</url-pattern>
	        <url-pattern>/logoutPage</url-pattern>
	    </web-resource-collection>
	</security-constraint>
  
	<!-- This is an example security constraint for a resource that requires 
		only authentication but not authorization:  -->
	 <security-constraint>
		<web-resource-collection>
			<web-resource-name>ecasV2-minimal</web-resource-name>
			<description>
				This is the protected area of the application.
			</description>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>
				Requires users to be authenticated but does not require them to be authorized.
			</description>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<description>
				Encryption is not required for this area.
			</description>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
