<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">
  <display-name>etrustex-core-web</display-name>
  <context-param>
    <param-name>parentContextKey</param-name>
    <param-value>etrustex-integration-layer.context</param-value>
  </context-param>
  <context-param>
    <param-name>locatorFactorySelector</param-name>
    <param-value>classpath:etrustex-integration-layer-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>logFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>
		This servlet is the entry point of the webservices end points of
		open eprior application that delegates the handling of incoming webservice calls
		to the Spring Integration messaging endpoint 
		</description>
    <servlet-name>services</servlet-name>
    <servlet-class>eu.europa.ec.cipa.etrustex.integration.web.CustomMessageDispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/services-servlet.xml</param-value>
    </init-param>
    <init-param>
      <param-name>messageReceiverBeanName</param-name>
      <param-value>messageReceiver</param-value>
    </init-param>
    <init-param>
      <param-name>wl-dispatch-policy</param-name>
      <param-value>servicesWorkManager</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>readServices</servlet-name>
    <servlet-class>eu.europa.ec.cipa.etrustex.integration.web.CustomMessageDispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/services-servlet.xml</param-value>
    </init-param>
    <init-param>
      <param-name>messageReceiverBeanName</param-name>
      <param-value>readMessageReceiver</param-value>
    </init-param>
    <init-param>
      <param-name>wl-dispatch-policy</param-name>
      <param-value>readServicesWorkManager</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>wrapperServices</servlet-name>
    <servlet-class>eu.europa.ec.cipa.etrustex.integration.web.CustomMessageDispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/services-servlet.xml</param-value>
    </init-param>
    <init-param>
      <param-name>messageReceiverBeanName</param-name>
      <param-value>wrapperMessageReceiver</param-value>
    </init-param>
    <init-param>
      <param-name>wl-dispatch-policy</param-name>
      <param-value>wrapperServicesWorkManager</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <security-constraint>
    <display-name>trustexRealmConstraint</display-name>
    <web-resource-collection>
      <web-resource-name>services</web-resource-name>
      <url-pattern>/services/*</url-pattern>
      <url-pattern>/readservices/*</url-pattern>
	  <url-pattern>/wrapperservices/*</url-pattern>
      <url-pattern>/CallForTendersTest-2.0</url-pattern>
      <url-pattern>/RedirectApplicationResponse-2.0</url-pattern>
      <url-pattern>/RedirectDocumentBundle-2.0</url-pattern>
      <url-pattern>/RedirectDocumentWrapper-2.0</url-pattern>
      <url-pattern>/RedirectQueryRequest-2.0</url-pattern>
      <url-pattern>/RedirectRetrieveRequest-2.0</url-pattern>
      <url-pattern>/RedirectStatusRequest-2.0</url-pattern>
      <url-pattern>/ApplicationResponse-2.0</url-pattern>
      <url-pattern>/AttachedDocument-2.0</url-pattern>
      <url-pattern>/DocumentBundle-2.0</url-pattern>
      <url-pattern>/DocumentBundle-2.1</url-pattern>
      <url-pattern>/DocumentBundleJustice-2.0</url-pattern>
      <url-pattern>/DocumentWrapper-2.0</url-pattern>
      <url-pattern>/InboxRequest-2.0</url-pattern>
      <url-pattern>/QueryRequest-2.0</url-pattern>
      <url-pattern>/QueryRequestJustice-2.0</url-pattern>
      <url-pattern>/RetrieveInterchangeAgreementsRequest-2.0</url-pattern>
      <url-pattern>/RetrieveRequest-2.0</url-pattern>
      <url-pattern>/RetrieveRequest-2.1</url-pattern>
      <url-pattern>/StatusRequest-2.0</url-pattern>
      <url-pattern>/StatusRequest-2.1</url-pattern>
      <url-pattern>/ViewRequest-2.0</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>trustexRealm</realm-name>
  </login-config>
  <security-role>
    <role-name>SUP</role-name>
  </security-role>
  <security-role>
    <role-name>CUST</role-name>
  </security-role>
  <security-role>
    <role-name>ISS</role-name>
  </security-role>
  <security-role>
    <role-name>BUNE</role-name>
  </security-role>
  <security-role>
    <role-name>BDE</role-name>
  </security-role>
  <listener>
    <listener-class>eu.europa.ec.cipa.services.CoreWebListenner</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>PostRedirectJUST</display-name>
    <servlet-name>PostRedirectJUST</servlet-name>
    <servlet-class>eu.europa.ec.cipa.redirect.PostRedirect</servlet-class>
    <init-param>
      <description>KEY metadata to retrieve target URL</description>
      <param-name>REDIRECT_KEY</param-name>
      <param-value>JUST_TEST_ENDPOINT</param-value>
    </init-param>
    <init-param>
      <param-name>wl-dispatch-policy</param-name>
      <param-value>postRedirectWorkManager</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PostRedirectCFT</display-name>
    <servlet-name>PostRedirectCFT</servlet-name>
    <servlet-class>eu.europa.ec.cipa.redirect.PostRedirect</servlet-class>
    <init-param>
      <description>KEY metadata to retrieve target URL</description>
      <param-name>REDIRECT_KEY</param-name>
      <param-value>CFT_TEST_ENDPOINT</param-value>
    </init-param>
    <init-param>
      <param-name>wl-dispatch-policy</param-name>
      <param-value>postRedirectWorkManager</param-value>
    </init-param>
  </servlet>
   <servlet>
    <description></description>
    <display-name>PostRedirectDOMIBUS</display-name>
    <servlet-name>PostRedirectDOMIBUS</servlet-name>
    <servlet-class>eu.europa.ec.cipa.redirect.ECodexRedirect</servlet-class>
    <init-param>
      <description>KEY metadata to retrieve target URL</description>
      <param-name>REDIRECT_KEY</param-name>
      <param-value>DOMIBUS_URL_ENDPOINT</param-value>
    </init-param>
    <init-param>
      <description>KEY metadata to retrieve target URL</description>
      <param-name>REDIRECT_ROOT</param-name>
      <param-value>DOMIBUS_REDIRECT_ROOT</param-value>
    </init-param>
    <init-param>
      <param-name>wl-dispatch-policy</param-name>
      <param-value>postRedirectWorkManager</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PostRedirectECODEX</display-name>
    <servlet-name>PostRedirectECODEX</servlet-name>
    <servlet-class>eu.europa.ec.cipa.redirect.ECodexRedirect</servlet-class>
    <init-param>
      <description>KEY metadata to retrieve target URL</description>
      <param-name>REDIRECT_KEY</param-name>
      <param-value>ECODEX_URL_ENDPOINT</param-value>
    </init-param>
    <init-param>
      <description>KEY metadata to retrieve target URL</description>
      <param-name>REDIRECT_ROOT</param-name>
      <param-value>ECODEX_REDIRECT_ROOT</param-value>
    </init-param>
    <init-param>
      <param-name>wl-dispatch-policy</param-name>
      <param-value>postRedirectWorkManager</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostRedirectCFT</servlet-name>
    <url-pattern>/CallForTendersTest-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostRedirectJUST</servlet-name>
    <url-pattern>/RedirectApplicationResponse-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostRedirectJUST</servlet-name>
    <url-pattern>/RedirectDocumentBundle-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostRedirectJUST</servlet-name>
    <url-pattern>/RedirectDocumentWrapper-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostRedirectJUST</servlet-name>
    <url-pattern>/RedirectQueryRequest-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostRedirectDOMIBUS</servlet-name>
    <url-pattern>/domibus/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostRedirectECODEX</servlet-name>
    <url-pattern>/gateway/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostRedirectJUST</servlet-name>
    <url-pattern>/RedirectRetrieveRequest-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostRedirectJUST</servlet-name>
    <url-pattern>/RedirectStatusRequest-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readServices</servlet-name>
    <url-pattern>/readservices/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wrapperServices</servlet-name>
    <url-pattern>/wrapperservices/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/ApplicationResponse-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/AttachedDocument-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/DocumentBundle-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/DocumentBundle-2.1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/DocumentBundleJustice-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wrapperServices</servlet-name>
    <url-pattern>/DocumentWrapper-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readServices</servlet-name>
    <url-pattern>/InboxRequest-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readServices</servlet-name>
    <url-pattern>/QueryRequest-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readServices</servlet-name>
    <url-pattern>/QueryRequestJustice-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readServices</servlet-name>
    <url-pattern>/RetrieveInterchangeAgreementsRequest-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readServices</servlet-name>
    <url-pattern>/RetrieveRequest-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readServices</servlet-name>
    <url-pattern>/RetrieveRequest-2.1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readServices</servlet-name>
    <url-pattern>/StatusRequest-2.0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readServices</servlet-name>
    <url-pattern>/StatusRequest-2.1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readServices</servlet-name>
    <url-pattern>/ViewRequest-2.0</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetServlet</display-name>
    <servlet-name>RetServlet</servlet-name>
    <servlet-class>eu.europa.ec.cipa.services.RetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetServlet</servlet-name>
    <url-pattern>/retentionService</url-pattern>
  </servlet-mapping>
</web-app>