<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ page language="java" contentType="text/html;charset=UTF-8" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ taglib prefix="j" tagdir="/WEB-INF/tags/jscaf" %>


<div id="header-page-dashboard" class="header-page-dashboard">
	
	<div class="dashboard-outer">

		<div class="dashboard-inner">

			<div class="dashboard-header">
				<div id="dashboard-filter" class="dashboard-filter">
					<input type="text" id="dashboard-filter-input" class="dashboard-filter-input" />
					<input type="submit" id="dashboard-filter-submit" class="dashboard-filter-submit" />
					<span id="dashboard-filter-cancel" class="dashboard-filter-cancel"><span class="icon cancel"></span></span>
				</div>
			</div>

			<div class="dashboard-body">
				<div id="dashboard-filter-results" class="dashboard-filter-results">
					<ul class="section-list">
						<li class="section-header"><span class="icon favorite-negative"></span>Favoris</li>
						<li class="section-content">
							<ul class="item-list">
								<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
								<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
								<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
							</ul>
						</li>
						<li class="section-header"><span class="icon mypersonalfile-negative"></span>My Personal File</li>
						<li class="section-content">
							<ul class="item-list">
								<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
								<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
								<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
							</ul>
						</li>
						<li class="section-header"><span class="icon myrole-negative"></span>My role</li>
						<li class="section-content">
							<ul class="item-list">
								<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
								<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
								<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
							</ul>
						</li>
					</ul>
				</div>

				<div id="dashboard-tabs" class="dashboard-tabs">
					<ul class="tab-navigation">
						<li class="tab" data-serialtabs="#dashboard-tabs-favorites">
							<span class="icon favorites"></span>
							<span class="title">Favorites</span>
						</li>
						<li class="tab" data-serialtabs="#dashboard-tabs-mypersonalfile">
							<span class="icon  mypersonalfile"></span>
							<span class="title">My Personal File</span>
						</li>
						<li class="tab" data-serialtabs="#dashboard-tabs-myrole">
							<span class="icon myrole"></span>
							<span class="title">My Role</span>
						</li>
					</ul><!-- .tab-navigation -->
					<div id="dashboard-tabs-favorites" class="tab-content">
						<ul class="item-list">
							<li class="item"><span class="icon favorite isfavorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite isfavorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item">
								<span class="icon favorite isfavorite"></span>
								<span class="js-serialaccordion"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet<span class="item-expand"></span></span>
								<ul class="sub-item-list js-serialaccordion-content">
									<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
									<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
									<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
									<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
								</ul>
							</li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite isfavorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite isfavorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite isfavorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite isfavorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
							<li class="item"><span class="icon favorite"></span><a href="#"><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</a></li>	
						</ul>
					</div><!-- #dashboard-tabs-favorites .tab-content -->
				</div><!-- #dashboard-tabs .dashboard-tabs -->
			</div>

			<div class="dashboard-footer">
				<div class="dashboard-recent-items">
					<div class="title">Recents</div>
					<ul class="item-list">
						<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
						<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
						<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
						<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
						<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
						<li class="item"><span class="icon favorite"></span><span class="icon module"></span>Module A &gt; Lorem ipsum dolore sit amet</li>	
					</ul>
				</div>
			</div>

		</div>
	</div>

</div>



