<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ page language="java" contentType="text/html;charset=UTF-8" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ taglib prefix="j" tagdir="/WEB-INF/tags/jscaf" %>
<%--@elvariable id="revisionId" type="java.lang.String"--%>


<!-- Optional script cleditor -->
<!-- ================================ -->
<link rel="stylesheet" href="<c:url value="/styles/optionals/redactor/redactor@pagescript.timestamp@.css"/>" type="text/css"/>
<script src="<c:url value="/scripts/optionals/redactor/redactor@pagescript.timestamp@.js"/>" type="text/javascript"></script>
<script src="<c:url value="/scripts/optionals/redactor/redactor.init@pagescript.timestamp@.js"/>" type="text/javascript"></script>
<!-- ================================ -->