<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="ETX-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/etrustex.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/etrustex.%d{dd-MM-yyyy}.%i.log</fileNamePattern>
<!-- 			<minIndex>1</minIndex> -->
<!-- 			<maxIndex>10</maxIndex> -->
			<maxHistory>10</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>51200KB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<appender name="HTTP-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/http.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/http.%d{dd-MM-yyyy}.%i.log</fileNamePattern>
<!-- 			<minIndex>1</minIndex> -->
<!-- 			<maxIndex>10</maxIndex> -->
			<maxHistory>10</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>51200KB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<logger name="httplog" level="debug" additivity="false">
		<appender-ref ref="HTTP-FILE" />
	</logger>
	
	<logger name="freemarker.cache" level="error" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="eu.europa.ec.etrustex" level="${etrustex.log.level}" additivity="false">
		<appender-ref ref="ETX-FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="${etrustex.log.level}">
		<appender-ref ref="ETX-FILE" />
	</root>
</configuration>