<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ page language="java" contentType="text/html;charset=UTF-8" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ taglib prefix="j" tagdir="/WEB-INF/tags/jscaf" %>

<!-- Optional script datatables -->
<!-- ================================ -->
<link rel="stylesheet" href="<c:url value="/styles/optionals/datatables/datatables@pagescript.timestamp@.css"/>" type="text/css"/>
<link rel="stylesheet" href="<c:url value="/styles/optionals/datatables/datatables.custom@pagescript.timestamp@.css"/>" type="text/css"/>
<script src="<c:url value="/scripts/optionals/datatables/dataTables-tableTools.min@pagescript.timestamp@.js"/>" type="text/javascript"></script>
<script src="<c:url value="/scripts/optionals/datatables/dataTables.init@pagescript.timestamp@.js"/>" type="text/javascript"></script>
<!-- ================================ -->