.tree_selector{width:450px;height:350px;float:left;margin:0;border:1px solid gray;background:white;overflow:auto}.sub_tree_selector{max-width:350px;max-height:150px;float:left;margin:0;border:0 solid gray;background:white;overflow-x:hidden}.sub_tree_summary{width:800px;max-height:450px;float:left;margin:0;border:0 solid gray;background:white;overflow-x:hidden}.jstree-default a.jstree-search{color:#00669b}.jstree-default li[rel="node"]>a{color:#444}