/************************************/
/********** jSCAF INCLUSIONS ********/
/************************************/

#jscaf_app_i18n				{ display: none;}
#jscaf_app_settings			{ display: none;}
#jscaf_page_i18n			{ display: none;}


.hidden     	 			{ display: none !important; }


/*********************************************************/
/********** BLOCKUI **************************************/
/*********************************************************/

.ft-light,
.blocker
{
  font-weight: normal;
  font-style: normal;
  font-family: "light", Arial, Helvetica, sans-serif;
}
.blockUI.blockPage          { border: 1px solid #858585  !important; opacity: 0.90; width:350px !important; left: 38% !important;}
.blocker-wrapper            { border:1px solid #D1D1D1; }
.blocker-wrapper .loader    { background: url(images/common/loading.gif) no-repeat 0 0; margin-left: 40%; width: 64px; height: 64px; margin-top:10px;}
.blocker                    { color:#636363 !important;}
.blocker .subtitle          { color:#009455 !important;}



/*********************************************************/
/********** GLOBAL ERROR DIALOG AND MESSAGES**************/
/*********************************************************/

#globalErrorDialog              {  border: 2px solid #ff0000 !important; }
#globalErrorDialog .title   	{  background:url(images/msgbox/background-error.png) repeat-x left top; color: #FF0000; padding: 10px 0 20px 0; margin-bottom: 10px; text-align:center; width:100%;}
#error-content      	        {  background-color: #f2f2f2; padding:10px; margin-left:0;}
#error-content .title   	    {  background:url(images/msgbox/background-error.png) repeat-x left top; color: #FF0000; padding: 10px 0 20px 0; margin-bottom: 10px; text-align:center; width:100%;}



/*********************************************/
/********** TINY SCROLLBAR *******************/
/*********************************************/

.tinyscrollbar               { width: 100%; clear: both; margin: 0; }
.tinyscrollbar .viewport     { overflow: hidden; position: relative; }
.tinyscrollbar .overview     { list-style: none; position: absolute; left: 0; top: 0; }
.tinyscrollbar .scrollbar    { background: transparent url(images/tinyscrollbar/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; float: right; width: 15px; }
.tinyscrollbar .track        { background: transparent url(images/tinyscrollbar/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:15px; position: relative; }
.tinyscrollbar .thumb        { background: transparent url(images/tinyscrollbar/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.tinyscrollbar .thumb .end   { background: transparent url(images/tinyscrollbar/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.tinyscrollbar .disable      { display: none; }
.noSelect                    { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


/*********************************************/
/********** SUB-CLASSING UI THEME ************/
/*********************************************/
.ui-dialog .ui-dialog-content           { padding: 1.5em 1em; }
.ui-dialog-title                        { color: #007abd; display:block; margin-top: 0px !important;}
.ui-dialog-title.warning                { color: #ff9900; }
.ui-dialog-title.error                  { color: #ff0000; }
.ui-dialog-title.info                   { color: #007abd; }
.ui-dialog-title.question               { color: #007abd; }
.ui-dialog-title.confirm                { color: #007abd; }
.ui-dialog 								{ position: absolute; padding: 1px !important; border: 1px solid #666; overflow: visible;  -webkit-box-shadow: 0 5px 80px #505050; -moz-box-shadow: 0 5px 80px #505050; box-shadow: 0 5px 80px #505050; }
.ui-dialog.warning                      { border: 2px solid #ff9900;}
.ui-dialog.error                        { border: 2px solid #ff0000;}
.ui-dialog.info                         { border: 2px solid #007abd;}
.ui-dialog.question                     { border: 2px solid #007abd;}
.ui-dialog.confirm                      { border: 2px solid #007abd;}
.ui-widget-overlay						{ -webkit-box-align: center;  -webkit-box-orient: vertical;  -webkit-box-pack: center;  -webkit-transition: 0.25s opacity;  background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));   bottom: 0;  display: -webkit-box;  left: 0;  overflow: auto;  padding: 20px 20px 130px 20px;  position: fixed;  right: 0;  top: 0;  z-index: 10;  }
.ui-dialog-buttonpane                   { background-color: #f7f7f7 !important; border-top: 1px solid #c2c2c2;}
.ui-dialog-buttonpane.warning           { background-color: #fffaf2 !important;}
.ui-dialog-buttonpane.error             { background-color: #fff2f2 !important;}
.ui-dialog-buttonpane.info              { background-color: #f2f6ff !important;}
.ui-dialog-buttonpane.question          { background-color: #f2f6ff !important;}
.ui-dialog-buttonpane.confirm           { background-color: #f2f6ff !important;}
.ui-dialog-titlebar                     { background: url(images/backgrounds/ui-dialog-bg.png) repeat-x; height: 40px; padding: 7px 10px 0 10px !important;}
.ui-datepicker-header.ui-widget-header  { border: 0; border-bottom: 1px solid #ebebeb; background: #F8F8F8; }
.ui-datepicker-header.ui-widget-header .ui-icon { background-image: url(images/jqueryui/ui-icons_888888_256x240.png) !important; }
.ui-datepicker-title                    { color: #007abd; }
.ui-dialog > .ui-widget-header          { border: 0 !important; }
.ui-widget-overlay                      { opacity: .50 !important; }
.ie8 .ui-widget-overlay                 { filter:Alpha(Opacity=55) !important; }
.ui-state-error                         { background: #FDE0D5 !important; border: 1px solid #FF0000 !important; }
.ui-buttonset.ui-state-error            { border: 0 !important; }
#ui-datepicker-div                      { display: none; }
.ui-button-text-only .ui-button-text    { padding: 3px 5px !important; }
.ui-button                              { margin-bottom: 5px !important; }
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited             { color: #007abd; text-decoration: none;}

.ui-buttonset > .ui-state-active                 { background: #5b8cff !important; color: #fff !important;}
.ui-buttonset.ui-state-error > .ui-state-default { background: #ff6060 !important; color: #fff !important;}

.ui-dialog .ui-dialog-titlebar-close        { right: -20px; top: -15px; margin: 0; width: 30px; height: 30px; background: url(images/jqueryui/modalClose.png) 0 0 no-repeat; border: 0 !important; z-index: 1005 !important;}
.ui-dialog .ui-dialog-titlebar-close span   { display: none; }
.ui-dialog .ui-dialog-titlebar-close:hover  { padding: 1px; background-image: url(images/jqueryui/modalCloseOvr.png)}
.ui-dialog .ui-dialog-titlebar-close:focus  { padding: 0; }

.ui-dialog .ui-dialog-titlebar-header-action        { position: absolute; margin-top: 4px; right: 20px; color: #007abd;}
.ui-dialog .ui-dialog-titlebar-header-action span   { margin-right: 5px; margin-top: -1px;}

.ui-widget-header .ui-icon          { background-image: url(images/jqueryui/ui-icons_469bdd_256x240.png) !important; }
.ui-widget-header.red               {  background: #ff3333 url(images/backgrounds/ui-bg_gloss_red.png) 50% 50% repeat-x  !important; border: 0 solid #ff0000 !important;}
.bw .ui-widget-header.red           {  background-color: #ff3333;}
.ui-widget-content                  { background: #fff; border: 1px solid #A5A5A5;}
.ui-datepicker-inline               { border:1px solid #ebebeb; }
.ui-widget p                        { font-size: 12px; }

/* DATEPICKER TRIGGER IMAGE */
img.ui-datepicker-trigger                       { float: left; background-color: #ebf6fc; border: 1px solid #b7ddf2; border-left: none; margin-top: 4px; margin-left: 0; padding: 4px 4px 4px 4px; cursor: pointer;}
table.default td img.ui-datepicker-trigger      { margin-top: 1px !important; }

/* DATEPICKER CALENDAR TABLE */
.ui-datepicker td a.ui-state-default            { background: #FFF; border: 0 solid #EBEBEB; text-align:center; color:#666;}
.ui-datepicker td a.ui-state-highlight          { background: #33aaff; border: 0 solid #666; color:#fff;}
.ui-datepicker td a.ui-state-active,
.ui-datepicker td a.ui-state-hover              { background: #ff8000 ; border: 0 solid #000; color:#FFF;}
.ui-datepicker td span.ui-state-default            { background: #FFF; border: 0 solid #EBEBEB; text-align:center; color:#666;}
.ui-datepicker td span.ui-state-highlight          { background: #33aaff; border: 0 solid #666; color:#fff;}
.ui-datepicker td span.ui-state-active,
.ui-datepicker td span.ui-state-hover              { background: #ff8000 ; border: 0 solid #000; color:#FFF;}
.ui-datepicker-title select                     { font-size: 11px !important; }
.ui-datepicker-buttonpane button.ui-priority-primary  { background: #74c5ff; color: #fff; }
.ui-datepicker-buttonpane button.ui-priority-secondary  { background: #e3e4e4; color: #000;  }

.ui-autocomplete-loading                        { background: url('images/common/loading16.gif') right center no-repeat; }


/* AVOID ROUNDED CORNERS ON UI-WIDGETS */
.ui-corner-left    { -moz-border-radius-topleft: 0 !important; -webkit-border-top-left-radius: 0 !important;border-top-left-radius: 0 !important;-moz-border-radius-bottomleft: 0 !important;-webkit-border-bottom-left-radius: 0 !important;border-bottom-left-radius: 0 !important;}
.ui-corner-right   { -moz-border-radius-topright:  0 !important; -webkit-border-top-right-radius:  0 !important; border-top-right-radius:  0 !important; -moz-border-radius-bottomright:  0 !important;-webkit-border-bottom-right-radius:  0 !important;border-bottom-right-radius:  0 !important;}
.ui-corner-all     { -moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;border-top-left-radius: 0;border-top-right-radius:  0;border-bottom-right-radius: 0;border-bottom-left-radius:  0;}
.ui-corner-tl      { -moz-border-radius-topleft: 0 !important;   -webkit-border-top-left-radius: 0 !important;   border-top-left-radius: 0 !important;    -moz-border-radius-bottomright: 0 !important;    -webkit-border-bottom-right-radius: 0 !important;    border-bottom-right-radius: 0 !important;}
.ui-corner-tr      { -moz-border-radius-topright: 0 !important;    -webkit-border-top-right-radius: 0 !important;    border-top-right-radius: 0 !important;    -moz-border-radius-bottomright: 0 !important;    -webkit-border-bottom-right-radius: 0 !important;    border-bottom-right-radius: 0 !important;}
.ui-corner-bl      { -moz-border-radius-topright: 0 !important;    -webkit-border-top-right-radius: 0 !important;    border-top-right-radius: 0 !important;    -moz-border-radius-bottomright: 0 !important;    -webkit-border-bottom-right-radius: 0 !important;    border-bottom-right-radius: 0 !important;}
.ui-corner-br      { -moz-border-radius-topright: 0 !important;    -webkit-border-top-right-radius: 0 !important;    border-top-right-radius: 0 !important;    -moz-border-radius-bottomright: 0 !important;    -webkit-border-bottom-right-radius: 0 !important;    border-bottom-right-radius: 0 !important;  -moz-border-radius-bottomleft: 0 !important;    -webkit-border-bottom-left-radius:0;    border-bottom-left-radius:0;}

/*jQueryUI button dialog subclass*/

.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button                                     { border: none; outline: none; outline:0; color: #FFF; height: 24px;line-height: 20px;margin: 5px 0 0 5px !important; display:inline; padding-right: 10px; padding-left: 10px; text-align: center;text-decoration: none !important;width: auto; }
.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button .ui-button-text                     { line-height: 16px; }
.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button.ui-button-text-only                 { padding: 0 5px 0 5px !important; }
.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button.ui-button-text-icon .ui-button-text { padding: 0 5px 0 18px !important; }
.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button.ui-corner-all                       { -webkit-border-radius: 4px !important;-moz-border-radius: 4px  !important;border-radius: 4px  !important; }

.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button.ui-state-default                    { color: #FFF; border: 1px solid #24417c;background: #5582c9; background: -moz-linear-gradient(top, #5582c9 0%, #33539a 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5582c9), color-stop(100%,#33539a)); background: -webkit-linear-gradient(top, #5582c9 0%,#33539a 100%);background: -o-linear-gradient(top, #5582c9 0%,#33539a 100%);background: -ms-linear-gradient(top, #5582c9 0%,#33539a 100%);/*background: linear-gradient(top, #5582c9 0%,#33539a 100%);*/ box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #80a1d6 inset; /*border-image: initial;*/}
.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button.ui-primary-button                   { color: #fff; border: 1px solid #0075C5;background: #0080D6 ;}
.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button.ui-secondary-button                 { color: #777; border: 1px solid #acabab;background: #dfdede; background: -moz-linear-gradient(top, #c4c3c3 0%, #dfdede 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4c3c3), color-stop(100%,#dfdede)); background: -webkit-linear-gradient(top, #c4c3c3 0%,#dfdede 100%);background: -o-linear-gradient(top, #c4c3c3 0%,#dfdede 100%);background: -ms-linear-gradient(top, #c4c3c3 0%,#dfdede 100%);/*background: linear-gradient(top, #c4c3c3 0%,#dfdede 100%);*/box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #c4c3c3 inset; /*border-image: initial;*/ }
.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button.ui-msgbox-button                    { color: #666; border: 1px solid #a7a8a8;background: #FFF; background: -moz-linear-gradient(top, #A7A8A8 0%, #FFF 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A7A8A8), color-stop(100%,#FFF)); background: -webkit-linear-gradient(top, #A7A8A8 0%,#FFF 100%);background: -o-linear-gradient(top, #A7A8A8 0%,#FFF 100%);background: -ms-linear-gradient(top, #A7A8A8 0%,#FFF 100%); /*background:linear-gradient(top, #A7A8A8 0%,#FFF 100%);*/}

.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button.ui-state-default.ui-state-hover     { color: #FFF;background: #5582c9;box-shadow: 0 1px 4px #5582c9, 0 1px 0 #5582c9 inset;}
.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button.ui-primary-button.ui-state-hover    { color: #FFF;background: #26C3EB;box-shadow: 0 1px 4px #26C3EB, 0 1px 0 #26C3EB inset;}
.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button.ui-secondary-button.ui-state-hover  { color: #222; background: #dfdede;box-shadow: 0 1px 4px #dfdede, 0 1px 0 #dfdede inset;}

.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button .ui-button-icon-primary             { left: 5px; top: 9px;}
.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button .ui-icon                            { background-image: url(images/backgrounds/ui-button-icons.png) !important; }
.ui-dialog-buttonpane > .ui-dialog-buttonset > button.ui-button.ui-state-hover .ui-icon             { background-image: url(images/backgrounds/ui-button-icons-hover.png) !important; }

/* autocomplete sub-class */
.ui-autocomplete                            { border: 1px solid #888; margin-top: 1px; max-width: 250px;}
.ui-autocomplete li                         { display: inline-block; max-width: 250px;}
.ui-autocomplete li a                       { font-size: 13px; }
.ui-autocomplete li a.ui-state-focus        { background: #5582C9; color: #fff;}
.bw .ui-autocomplete li a.ui-state-focus    { background: #666; color: #fff;}

.ui-autocomplete .ui-menu-item              { border-bottom: 1px solid #dedede;}
.ui-autocomplete li span.secondary          { color: #666; font-weight: normal !important;}
.ui-autocomplete li a.ui-state-focus  span.secondary  { background: #5582C9; color: #ebebeb;}
.bw .ui-autocomplete li a.ui-state-focus  span.secondary  { background: #666; color: #ebebeb;}

.ui-autocomplete li span.middle          { background: #ebebeb; color: #888; float:right; font-size:11px; padding:2px; margin-top: -10px;}
.ui-autocomplete li a.ui-state-focus span.middle          { background: #fff; color: #5582C9; }


#datepicker_inline  .ui-state-default {  background: transparent none !important; }
#datepicker_inline  .ui-state-disabled {  opacity: 2 !important; }
.datepicker-inline-green-color {    background-color: #00a320 !important;}
.datepicker-inline-red-color {  background-color: #DD2900 !important;}
.datepicker-inline-red-green-color { background: #237afa url(images/common/calendar_half_day.png) no-repeat 0 0 !important;}
.datepicker-inline-default-color { background-color: #fff !important;}
.datepicker-inline-red-color .ui-state-default,
.datepicker-inline-red-green-color .ui-state-default,
.datepicker-inline-green-color .ui-state-default { color: #FFF !important; }





/*********************************************/
/********** NOTICE GROWL *********************/
/*********************************************/

.notice-wrap 			{ position: fixed; right: 20px; width: 350px;	z-index: 55001; }
* html .notice-wrap     { position: absolute; }


.notice-item 			{ height: auto;	background: #333; color: #eee;	padding: 10px 15px 10px 25px;	border: 2px solid #999;	display: block;	position: relative;	margin: 0 10px 2px 0;}
.notice-item			{ border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.notice-item p          { padding-right: 10px; }
.notice-item.error      { color: #333; border: 2px solid #FF0000;}
.notice-item.success    { color: #333; border: 2px solid #3eff6a;}
.notice-item.warning    { color: #333; border: 2px solid #fff93e;}
.notice-item-close 		{ position: absolute; right: 6px; top: 8px;	cursor: pointer; background: url('images/notifications/ico_close_ovr.png') no-repeat; width:12px; height: 12px;}


/*********************************************/
/********** TOOLTIP **************************/
/*********************************************/

/* POSHYTIP */

.JS_tooltip { cursor:pointer; }

.tip-default {	z-index:9999;	text-align:left;	border:1px solid #b0b1b0;	border-radius:2px;	-moz-border-radius:2px;	-webkit-border-radius:2px;	padding:1px;	min-width:50px;	max-width:300px;	color: #2f2f2f;	background-color: #fff;}
.tip-default .tip-inner { padding:6px;    background-color: #fffefe; }
.tip-default .tip-arrow-top { margin-top:-9px;	margin-left:15px;	top:0;	left:0;	width:16px;	height:10px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat;}
.tip-default .tip-arrow-right {	margin-top:-9px; 	margin-left:-4px;	top:50%;	left:100%;	width:10px;	height:20px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat -16px 0;}
.tip-default .tip-arrow-bottom {	margin-top:0;	    margin-left:15px;	top:100%;	left:0;	width:16px;	height:13px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat -32px 0;}
.tip-default .tip-arrow-left {	margin-top:-9px; 	margin-left:-9px;	top:50%;	left:0;	width:10px;	height:20px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat -48px 0;}

.tip-error {	z-index:9999;	text-align:left;	border:1px solid #e30000;	border-radius:2px;	-moz-border-radius:2px;	-webkit-border-radius:2px;	min-width:50px;	max-width:300px;	color: #cb0000;	background-color: #fff;}
.tip-error .tip-inner {	color: #fff; padding:6px;    background-color: #ff0000;  }
.tip-error .tip-arrow-top { margin-top:-9px;	margin-left:15px;	top:0;	left:0;	width:16px;	height:10px;	background:url(images/poshytip/tip-error_arrows.png) no-repeat;}
.tip-error .tip-arrow-right {	margin-top:-9px; 	margin-left:-4px;	top:50%;	left:100%;	width:10px;	height:20px;	background:url(images/poshytip/tip-error_arrows.png) no-repeat -16px 0;}
.tip-error .tip-arrow-bottom {	margin-top:0;	    margin-left:15px;	top:100%;	left:0;	width:16px;	height:13px;	background:url(images/poshytip/tip-error_arrows.png) no-repeat -32px 0;}
.tip-error .tip-arrow-left {	margin-top:-8px; 	margin-left:-10px;	top:50%;	left:0;	width:10px;	height:20px;	background:url(images/poshytip/tip-error_arrows.png) no-repeat -48px 0;}

.tip-hint {	z-index:9999;	text-align:left;	border: 1px solid #ADADAD;	border-radius:2px;	-moz-border-radius:2px;	-webkit-border-radius: 6px;	padding:1px;	min-width:50px;	max-width:300px;	color:#000;	background-color: #fff;}
.tip-hint .tip-inner {	color: #0553A0; padding:1px;    background-color: #fefeff;   }
.tip-hint .tip-arrow-top { margin-top:-9px;	margin-left:15px;	top:0;	left:0;	width:16px;	height:10px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat;}
.tip-hint .tip-arrow-right {	margin-top:-9px; 	margin-left:-4px;	top:50%;	left:100%;	width:10px;	height:20px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat -16px 0;}
.tip-hint .tip-arrow-bottom {	margin-top:0;	    margin-left:15px;	top:100%;	left:0;	width:16px;	height:13px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat -32px 0;}
.tip-hint .tip-arrow-left {	margin-top:-9px; 	margin-left:-6px;	top:50%;	left:0;	width:10px;	height:20px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat -48px 0;}

.tip-black {    opacity:1;    z-index:9999;    text-align:left;    border-radius:4px;    -moz-border-radius:4px;    -webkit-border-radius:4px;    padding:8px 8px;    max-width:300px;   color:#fff;    background-color:#111; max-height: 500px;}
.tip-black .tip-arrow-top {    margin-top:-5px;    margin-left:-5px; /* approx. half the width to center it */    top:0;    left:50%;    width:9px;    height:5px;    background:url(images/poshytip/tip-black_arrows.gif) no-repeat;}
.tip-black .tip-arrow-right {    margin-top:-4px; /* approx. half the height to center it */    margin-left:0;    top:50%;    left:100%;    width:5px;    height:9px;    background:url(images/poshytip/tip-black_arrows.gif) no-repeat -9px 0;}
.tip-black .tip-arrow-bottom {    margin-top:0;    margin-left:-5px; /* approx. half the width to center it */    top:100%;    left:50%;    width:9px;    height:5px;    background:url(images/poshytip/tip-black_arrows.gif) no-repeat -18px 0;}
.tip-black .tip-arrow-left {    margin-top:-4px; /* approx. half the height to center it */    margin-left:-5px;    top:50%;    left:0;    width:5px;    height:9px;    background:url(images/poshytip/tip-black_arrows.gif) no-repeat -27px 0;}

.tip-white {	z-index:9999;	text-align:left;	border:1px solid #cbccca;	border-radius:2px;	-moz-border-radius:2px;	-webkit-border-radius:2px;	padding:1px;	min-width:50px;	max-width:300px;	color:#000;	background-color: #fff;}
.tip-white.fixed-top-position  { top: 80px !important; }
.tip-white .tip-inner {	color: #0553A0; padding:10px;    background-color: #fefeff;   }
.tip-white .tip-arrow-top { margin-top:-9px;	margin-left:15px;	top:0;	left:0;	width:16px;	height:10px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat;}
.tip-white .tip-arrow-right {	margin-top:-9px; 	margin-left:-4px;	top:50%;	left:100%;	width:10px;	height:20px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat -16px 0;}
.tip-white .tip-arrow-bottom {	margin-top:0;	    margin-left:15px;	top:100%;	left:0;	width:16px;	height:13px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat -32px 0;}
.tip-white .tip-arrow-left {	margin-top:-9px; 	margin-left:-6px;	top:50%;	left:0;	width:10px;	height:20px;	background:url(images/poshytip/tip-default_arrows.png) no-repeat -48px 0;}


.tooltip-hint        { background-color: #FFFFFF; padding: 9px; }
.tooltip-hint .icon	 { display: inline; float:left; height:20px; width: 16px; text-indent:-9999px; margin:1px 5px 0 0; }
.tooltip-hint h6     { line-height: 20px; color: #666; border-bottom: 1px solid #E9E9E9; margin-bottom: 10px; padding-bottom: 3px;}
.tooltip-hint p      { padding-left: 20px; }
.tooltip-hint em     { color: #333; }



/*********************************************/
/********** STARS ****************************/
/*********************************************/
.ui-stars-star,.ui-stars-cancel{float:left;display:block;overflow:hidden;text-indent:-999em;cursor:pointer;}.ui-stars-star a,.ui-stars-cancel a{width:16px;height:15px;display:block;background:url(images/stars/stars.gif) no-repeat 0 0;}.ui-stars-star a{background-position:0 -32px;}.ui-stars-star-on a{background-position:0 -48px;}.ui-stars-star-hover a{background-position:0 -64px;}.ui-stars-cancel-hover a{background-position:0 -16px;}.ui-stars-star-disabled,.ui-stars-star-disabled a,.ui-stars-cancel-disabled a{cursor:default!important;}
.ui-stars-wrapper { padding:3px 3px 6px 3px;width:auto;margin-top: 4px; float:left; border: 1px solid #dedede; }



/*********************************************/
/********** MSG BOX **************************/
/*********************************************/
.msgbox-warning                 { background: url(images/msgbox/alert.png) no-repeat 10px 5px; height:80px; width:100px; float:left;}
.msgbox-info                    { background: url(images/msgbox/info.png) no-repeat 10px 5px; height:80px; width:100px; float:left;}
.msgbox-error                   { background: url(images/msgbox/error.png) no-repeat 10px 5px; height:80px; width:100px; float:left;}
.msgbox-question                { background: url(images/msgbox/question.png) no-repeat 10px 5px; height:80px; width:100px; float:left;}
.msgbox-confirm                 { background: url(images/msgbox/confirm.png) no-repeat 10px 5px; height:80px; width:100px; float:left;}

.msgbox-text-warning            { color: #dda600; margin-top: 10px;}
.msgbox-text-info               { color: #007abd; margin-top: 10px;}
.msgbox-text-error              { color: #ff0000; margin-top: 10px;}
.msgbox-text-question           { color: #007abd; margin-top: 10px;}
.msgbox-text-confirm            { color: #007abd; margin-top: 10px;}

.bw .msgbox-text-warning            { color: #333; }
.bw .msgbox-text-info               { color: #333; }
.bw .msgbox-text-error              { color: #ff0000; }
.bw .msgbox-text-question           { color: #333; }
.bw .msgbox-text-confirm            { color: #333; }





/* COMMON 16px SPRITE */

.icon-add-comment{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 0 !important;  }
.icon-add{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -17px !important;  }
.icon-area-chart{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -34px !important;  }
.icon-ares{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -51px !important;  }
.icon-arrow-left{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -68px !important;  }
.icon-arrow-right{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -85px !important;  }
.icon-back{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -102px !important;  }
.icon-budget-report{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -119px !important;  }
.icon-budget{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -136px !important;  }
.icon-bug{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -153px !important;  }
.icon-bullet-blue{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -170px !important;  }
.icon-bullet-green{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -187px !important;  }
.icon-bullet-red{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -204px !important;  }
.icon-bullet-yellow{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -221px !important;  }
.icon-calculator{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -238px !important;  }
.icon-calendar{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -255px !important;  }
.icon-clear{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -272px !important;  }
.icon-clock{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -289px !important;  }
.icon-close{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -306px !important;  }
.icon-config{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -323px !important;  }
.icon-contact-yellow{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -340px !important;  }
.icon-copy{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -357px !important;  }
.icon-costs{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -374px !important;  }
.icon-declare-costs{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -391px !important;  }
.icon-delegate{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -408px !important;  }
.icon-delete{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -421px !important;  }
.icon-departure{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -438px !important;  }
.icon-derogation{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -455px !important;  }
.icon-documents{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -472px !important;  }
.icon-duplicate{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -489px !important;  }
.icon-edit{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -506px !important;  }
.icon-entity{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -523px !important;  }
.icon-execute{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -540px !important;  }
.icon-feedback{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -557px !important;  }
.icon-green-flag{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -574px !important;  }
.icon-grid-view{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -591px !important;  }
.icon-help-yellow{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -608px !important;  }
.icon-help{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -625px !important;  }
.icon-hint{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -642px !important; height: 10px; margin-top: 6px; }
.icon-hint10{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -659px !important;  }
.icon-inline-text-10.icon-hint10 { margin-top: 2px;}
.icon-history{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -670px !important;  }
.icon-holiday{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -687px !important;  }
.icon-image{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -704px !important;  }
.icon-import{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -721px !important;  }
.icon-inbox{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -738px !important;  }
.icon-info{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -755px !important;  }
.icon-light-bulb.off{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -772px !important;  }
.icon-light-bulb.on{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -789px !important;  }
.icon-link{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -806px !important;  }
.icon-list{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -823px !important;  }
.icon-location{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -840px !important;  }
.icon-login{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -857px !important;  }
.icon-logout{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -874px !important;  }
.icon-logs{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -891px !important;  }
.icon-mail-blue{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -908px !important;  }
.icon-mail{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -925px !important;  }
.icon-meeting-add{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -942px !important;  }
.icon-news{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -959px !important;  }
.icon-next{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -976px !important;  }
.icon-no-document{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -993px !important;  }
.icon-pdf{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1010px !important;  }
.icon-person{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1027px !important;  }
.icon-phone{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1044px !important;  }
.icon-preferences{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1061px !important;  }
.icon-print-friendly{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1078px !important;  }
.icon-print{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1095px !important;  }
.icon-purpose{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1112px !important;  }
.icon-red-bullet-square{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1129px !important;  }
.icon-red-flag{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1146px !important;  }
.icon-refresh{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1163px !important;  }
.icon-reimpute{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1180px !important;  }
.icon-reject{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1197px !important;  }
.icon-reset-route{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1214px !important;  }
.icon-reset{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1231px !important;  }
.icon-restart{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1248px !important;  }
.icon-return{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1265px !important;  }
.icon-save{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1282px !important;  }
.icon-schedule{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1299px !important;  }
.icon-search-criteria{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1316px !important;  }
.icon-search{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1333px !important;  }
.icon-security{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1350px !important;  }
.icon-security2{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1367px !important;  }
.icon-server-charge-heavy{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1384px !important;  }
.icon-server-charge-medium{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1401px !important;  }
.icon-server-charge-normal{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1418px !important;  }
.icon-sign{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1435px !important;  }
.icon-star{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1452px !important;  }
.icon-system{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1469px !important;  }
.icon-table-view{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1486px !important;  }
.icon-theme-bw{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1503px !important;  }
.icon-theme-color{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1520px !important;  }
.icon-to-top{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1537px !important; margin-right: 10px; }
.icon-transit{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1554px !important;  }
.icon-travel{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1571px !important;  }
.icon-video{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1588px !important;  }
.icon-warning-blue{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1605px !important;  }
.icon-warning-green{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1622px !important;  }
.icon-warning-red{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1639px !important;  }
.icon-warning{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1656px !important;  }
.icon-word{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1673px !important;  }
.icon-xls-report{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1690px !important;  }
.icon-yellow-flag{ background: url(images/_sprites/_common_sprite_16x16.png) no-repeat 0 -1707px !important;  }

.icon-expand { background: url(images/_sprites/z_box-expand.png) no-repeat center !important;  }



/* TODO ADD TO SPRITE */
.icon-invoice { background: url(images/_sprites/invoice.png) no-repeat 0 0; }
.icon-waiting-on{ background: url(images/_sprites/waiting_on.png) no-repeat 0 0; }
.icon-waiting-off{ background: url(images/_sprites/waiting_off.png) no-repeat 0 0; }
.icon-bw-add { background: url(images/common/bw-add.png) no-repeat 0 0; }
.icon-bw-approve { background: url(images/common/bw-approve.png) no-repeat 0 0; }
.icon-bw-arrow-left { background: url(images/common/bw-arrow-left.png) no-repeat 0 0; }
.icon-bw-arrow-right { background: url(images/common/bw-arrow-right.png) no-repeat 0 0; }
.icon-bw-arrow-right { background: url(images/common/bw-arrow-right.png) no-repeat 0 0; }
.icon-bw-delete { background: url(images/common/bw-delete.png) no-repeat 0 0; }
.icon-bw-edit { background: url(images/common/bw-edit.png) no-repeat 0 0; }
.icon-bw-help { background: url(images/common/bw-help.png) no-repeat 0 0; }
.icon-bw-refresh { background: url(images/common/bw-refresh.png) no-repeat 0 0; }
.icon-bw-reject { background: url(images/common/bw-reject.png) no-repeat 0 0; }
.icon-bw-save { background: url(images/common/bw-save.png) no-repeat 0 0; }
.icon-bw-warning { background: url(images/common/bw-warning.png) no-repeat 0 0; }
.icon-attach { background: url(images/common/attach.png) no-repeat 0 0; }
.icon-monitors { background: url(images/common/monitors.gif) no-repeat 0 0; }
.icon-watch.on { background: url(images/common/watch_on.png) no-repeat 0 0; }
.icon-watch.off { background: url(images/common/watch_off.png) no-repeat 0 0; }
.icon-star.on { background: url(images/_sprites/star.png) no-repeat 0 0;  }
.icon-star.off { background: url(images/common/star_off.png) no-repeat 0 0 !important;  }
.icon-help-blue { background: url(images/common/help-blue.png) no-repeat 0 0 !important;  }
.icon-download { background: url(images/common/download.png) no-repeat 0 0 !important;  }

.icon-upload24 { background: url(images/common/upload24.png) no-repeat 0 0 !important;}


/* TO BE MANUALLY MODIFIED WHEN SPRITE IS UPDATED */
.tooltip-hint .icon	                        { background: url(images/_sprites/info.png) no-repeat 0 0;}
.notice-item.error                          { background: #ffafaf url(images/_sprites/warning-red.png) no-repeat 4px 10px; }
.notice-item.warning                        { background: #fdffaf url(images/_sprites/warning.png) no-repeat 4px 10px; }
ul.list-counter-small li.warning .icon      { background: url(images/_sprites/warning.png) no-repeat;}

.approve-toggle-disabled	                { background: url(images/_sprites/z_approve-disabled.png) no-repeat 1px 0;}
.approve-toggle-disabled.big                { background: url(images/common/approve-disabled-big.png) no-repeat 1px 0;}
.icon-approve-disabled	                    { background-image:url(images/_sprites/z_approve-disabled.png)  ;}
.icon-approve                               { background-image:url(images/_sprites/z_approve.png) !important;}
.wizard li.valid a span.icon                { background: #fff url(images/_sprites/z_approve.png) no-repeat 0 0;  }
.notice-item.success                        { background: #afffc1 url(images/_sprites/z_approve.png) no-repeat 4px 10px; }
.approve-toggle-enabled	                    { background: url(images/_sprites/z_approve.png) no-repeat 1px 0;}
.approve-toggle-enabled.big                 { background: url(images/common/approve-big.png) no-repeat 1px 0;}
.wizard li span.separator                   { background: url(images/_sprites/z_arrow-wizard-right-blue.png) no-repeat;  }
.box > .header.JS_expandable > .expand-button 	{ background: url('images/_sprites/z_box-expand.png') center center no-repeat !important; }
.field span.required-required               { background: url(images/_sprites/z_required-required.gif) no-repeat 2px 3px; }
.field span.required-valid                  { background: url(images/_sprites/z_required-valid.gif) no-repeat 2px 3px; }
.validation                                 { background: url('images/_sprites/z_exclamation2.png') 1px 1px no-repeat; }
.validation.box                             { background: #faf0f0 url('images/_sprites/z_exclamation2.png') 1px 1px no-repeat; }
.toggle-trigger-content              		{ background: url(images/_sprites/z_toggle-expand.png) no-repeat 1px -1px; }
.toggle-trigger-content.active       		{ background: url(images/_sprites/z_toggle-collapse.png) no-repeat 1px -1px; }

.icon-star1                  { width: 16px; background-image: url(images/_sprites/star.png) ; background-repeat: no-repeat;}
.icon-star2                  { width: 32px; background-image: url(images/_sprites/star.png) ; background-repeat: repeat-x;}
.icon-star3                  { width: 48px; background-image: url(images/_sprites/star.png) ; background-repeat: repeat-x;}
.icon-star4                  { width: 64px; background-image: url(images/_sprites/star.png) ; background-repeat: repeat-x;}
.icon-star5                  { width: 80px; background-image: url(images/_sprites/star.png) ; background-repeat: repeat-x;}
.icon-bullet-line            { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAC5SURBVDjLY/j//z8DJZhh1ADsBjjsspIC4gb77ZZX7TdbXLVda9Zgs8xEihQDGmZfm/7/0KOD/3ff3/V/6plJ/y3mGjYQbYD9NsurBx4e+D/10tT/nWc6/i+5sui/+RS9q0QbYLfB/OrWO1v+d5/p+t96qvn/3Auz/pt0aRNvgPVyk4appyf+X3xl4f/ZF2b+n3Co579+mSrxXrCcZyhlMV2/wbRP56pRq+ZV3SLlBq1EOanRlEgjAwAXIuIDq5qm/AAAAABJRU5ErkJggg==) no-repeat 2px 0;  padding: 0 2px 0 20px;}
.ie7 .icon-bullet-line       { background-image: url(images/_base64_sources/common.green-bullet.png);}
.icon-bullet-blue-small		 { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAALEAAACxABrSO9dQAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuND6NzHYAAABtSURBVBhXY2QAgmmHP5xXEmLRe/npO8OZu18vTY5RMAQJnvOd8fQ/Q/YtMDZovfXfo+fiOYYdV7/8hQnCaNfWY38Zena9+I0uoVF84DdD7pIH50DaYZJCBef+C6XvOQeymwFkpk3zqd8glTBBANzLT4zyBI/TAAAAAElFTkSuQmCC)  no-repeat 5px 5px;}
.icon-bullet-blue-small		 { background-image: url(images/_base64_sources/common.bullet-blue-small.png);}
.icon-bullet-grey-small		 { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAALEAAACxABrSO9dQAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuND6NzHYAAABeSURBVBhXXY2xCoAhCIR9/0dyaHGQKHRrFYKmHiGiPwOXXziE784T4E7vXeece4yxW2vqzKGo6kHEJ2Y+tVYBTwaMXUrZYGbrbxDRgtspfh5mSulcyfvjnTnn5cmAH1VLaWSOB6OTAAAAAElFTkSuQmCC)  no-repeat 5px 5px;}
.ie7 .icon-bullet-grey-small { background-image: url(images/_base64_sources/common.bullet-grey-small.png);}

/* COMMON PAGE TITLE ICONS */

.icon-page-home 			 { background-image: url(images/page-title-icons/home.png) ; background-repeat: no-repeat; background-position: 2px 2px;}
.icon-page-search      		 { background-image: url(images/page-title-icons/search.png) ; background-repeat: no-repeat;background-position: 2px 2px;}
.icon-page-css               { background-image: url(images/page-title-icons/css.png); background-repeat: no-repeat;background-position: 2px 2px;}
.icon-page-help              { background-image: url(images/page-title-icons/help.png); background-repeat: no-repeat;background-position: 2px 2px;}
.icon-page-prototype         { background-image: url(images/page-title-icons/prototype.png); background-repeat: no-repeat;background-position: 2px 2px;}
.icon-page-admin             { background-image: url(images/page-title-icons/admin.png); background-repeat: no-repeat;background-position: 2px 2px;}



/*********************************************/
/********** jSCAF DYNAMIC COMPONENTS *********/
/*********************************************/

/* JSapproveToggle */
/* --------------- */

span.JS_approve-toggle 		 { display: inline; float: left; height:16px; width: 18px; text-indent:-9999px; margin-top: 5px !important; cursor: pointer;}












/* JSCAF SUBCLASS for bootstrap */

.ui-dialog-title              { font-size: 18px ;}
.ui-dialog .ui-dialog-content { overflow-x: hidden;}